  *{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
  }

  .container{
    display: grid;
    place-items: center;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }

  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1em;
    
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 1em 1em;
  }
  
  .column button {
    margin-top: 8px;
    vertical-align: middle;
    align-items: center;
  }

  /*A section*/
  [id*="btn-A"]{
    background: #183153;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    border-style:hidden;
  }
  /*button A1*/
  #btn-A1 :hover{
    cursor:pointer;
    color:#B197FC;
    transform: scale(1.1);
  }

  /*button A2*/
  #btn-A2 :hover{
    cursor:pointer;
    color:#B197FC;
    transform:rotate(20deg);
  }

   /*button A3*/
   #btn-A3 :active{
    cursor:pointer;
    color:#B197FC;
    transform:scale(1.1);
  }

 /*button A4*/
 #btn-A4 :active{
  cursor:pointer;
  color:#B197FC;
  transform:rotate(20deg);
} 

  /* Responsive layout - makes a two column-layout instead of Three columns */
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
     flex: 100%;
     max-width: 100%;
    }
}
  
  
  
  