*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
/*top bar*/
.nav{
    width: 100%;
    background: #95A598;
    height: 75px;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    font-weight: 700;
    width: 100px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    background: #749C77;
    color: #F6F6F6;
    border-radius: 10px;
    border:none;
    box-shadow: 7px 5px 10px #425E48;
}
.btn button:hover{
    background: #F6F6F6;
    color: #090F08;
    cursor: pointer;
    box-shadow: none;
    transform: scale(1.1);
}

/*login & signup box*/

.loginbox{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;

    background-color: #090F08;
    max-width: 550px;
    border-radius: 10px;
    height: 510px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    margin: 0 auto;
    padding:30px;
  }
  
  .loginbox h1{
    color: #F6F6F6;
    text-align: center;
    margin-bottom:50px;
  }
  
  .loginbox form p{
    font-family: sans-serif;
    color: #F6F6F6;
    font-weight: bold;
    text-align: left;
  }
  
  .btn2{
    border: none;
    background-color: inherit;
    font-family: sans-serif;
    color: darkgrey;
    font-size: 11px;
  }
  
  .loginbox a{
    background-color: inherit;
    font-family: sans-serif;
    color: darkgrey;
    font-size: 11px;
    text-decoration: none;
  }
  
  .logp{
    font-family: sans-serif;
    color: darkgrey;
    font-size: 10px;
    line-height: 20px;
  }
  
  .loginbox a:hover{
    color: green;
  }
  
  .loginbox .btn2:hover{
    color: green;
  }
  
  .loginbox input{
    width: 100%;
    margin-bottom: 10px;
  }
  
  .loginbox input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #F6F6F6;
    background: transparent;
    outline: none;
    height: 40px;
    color: #F6F6F6;
    font-size:14px;
  }
  
  .loginbox input[type="submit"], .canbtn{
    margin-top: 15px;
    border: none;
    outline: none;
    height: 30px;
    background: #425E48;
    color: #F6F6F6;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
  }
  
  .loginbox input[type="submit"]:hover{
    cursor:pointer;
    background: #5e4258;
    color: #000;
  }
  
  .loginbox .canbtn:hover{
    cursor:pointer;
    background: #5e4258;
    color: #000;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }