*{
    margin:0;
    padding:0;
    font-family: sans-serif, "Poppins";
    box-sizing: border-box;
}
body{
    background: rgb(255, 255, 255);
}
.container{
    background: rgb(235, 231, 231);
    padding: 30px;
    max-width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}
.logo{
    width: 30px;
    margin-bottom: 20px;
}
.container h2{
    margin-bottom: 20px;
}
.container button i{
    margin-right: 20px;
}
.container button{
    width: 100%;
    padding: 10px 0;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #999;
    font-weight: 500;
    cursor: pointer;
}
.container button:hover{
    transform: scale(1.02);
}
.container hr{
    border: 0;
    height: 1px;
    background: #c2c2c2;
    margin: 5px;
}
.container span{
    display: block;
    width: 40px;
    margin: auto;
    background: rgb(235, 231, 231);
    font-size: 14px;
    margin-top: -16px;
}
.input_field{
    width: 100%;
    background: transparent;
    border: 1p solid #999;
    outline: 0;
    padding: 15px 10px;
    border-radius: 4px;
    margin: 10px 0;
}
::placeholder{
    font-weight:500;
    color:#333;
}
.remember-me{
    font-size: 13px;
    color:#555;
}
.buttons{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background: rgb(183, 187, 166);
    cursor: pointer;
}
.buttons:hover{
    background: rgb(21, 27, 27);
    color: #fff;
    transform: scale(1.03);
}
.container p{
    text-align: left;
    font-size: 13px;
    color:#555;
    margin: 40px 0 50px;
}
.container p a{
    text-decoration: none;
    color: #359cf0;
}
.container p a:hover{
    color:rgb(107, 114, 10);
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 600px) {
    .container {
        width: 80%;
        overflow: auto;
        justify-items: center;
        transform: translate(-50%, -50%);
        border-radius: 0;
    }
}
@media only screen and (max-width:300px){
    .container{
        top: 55%;
    }
}