*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: whitesmoke;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
}

.col-1 {width:50%;}
.col-2 {width:50%;}

[class*="col-"] {
    float: left;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
}

.row{
    margin-top: 10%;
    margin-bottom: 10%;

}
.row::after {
    content: "";
    clear: both;
    display: table;
} 

/* coloumn 1*/
.image1 {
    display: block;
    margin: auto;
    width: 85%;
    transform: translate(0%, 20%);
}

/* coloumn 2*/
.container{
    background: #b5b5b5;
    max-width: 550px;
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    top:50%;
    left: 50%;
}
.logo{
    align-items: center;
    width: 100px;
    margin-bottom: 10px;
}
.container h2{
    margin-bottom: 10px;
}
#remember-me{
    display: flex;
    justify-content: start;
    margin-left:5px;
    gap: 5px;
    font-size: 13px;
}
.inputs{
    width: 100%;
    justify-content: center;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    cursor: pointer;
    background: whitesmoke;
    border: transparent;
}
.button{
    width: 100%;
    border-radius: 15px;
    margin: 10px 0;
    padding: 10px 0;
    font-weight: 800;
    border: 1px solid rgba(23, 29, 28, 0.623);
    background: transparent;
    cursor: pointer;
}
.button:hover{
    background: #202020;
    color: white;
}
.bottom{
    text-align: left;
    margin-left: 5px;
    font-size: 13px;
}
.bottom p a{
    text-decoration: none;
    color: rgb(9, 10, 10);
    font-weight:300;
}
.bottom p a:hover{
    color: whitesmoke;
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 700px) {
    .bottom p a{
        display: block;
    }
    .col-1{
       display:none; 
    }
    .col-2{
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .container{
        width: 100%;
        padding: 25px;
    }
}