*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    background: #e2e2b7;
    position: sticky;
    top: 0;
}

/*login button*/
.container button{
    background:#dddd95;
    color: #333533;
    font-weight: bolder;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
  
.container button:hover {
    background: #d3d393;
    box-shadow: none;
}

.container button a{
    text-decoration:none;
}

.container button[aria-label="login"] {
    background: linear-gradient(to bottom right, #F4F3BD, #CDAD1D);
    color: #333533;
    font-weight: bolder;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px -1px #333533;
}

.container button a:active{
    color: #000000;
}

/*logo*/
.container a img{
    width: 80px;
    height: 80px;
}

.container a img:hover{
    cursor: pointer;
}

/*navbar*/
.navbar{
    list-style-type: none;
    overflow: hidden;
    background-color: none;
}

.navbar li{
    float: left;
}

.navbar li a{
    display:block;
    padding: 14px 16px;
    color: #767726;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.navbar li a:hover{
    background-color: #cdad1d;
}

.navbar li a:active{
    background-color: #a04217;
}

.navbar li.right{
    float: right;
}

@media screen and (max-width:600px) {
    .navbar li, .navbar li.right{
        float:none;
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align:center;
        flex-direction: column;
    }
    .container img{
        display: none;
    }
    .container button{
        background: none;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navbar{
        width: 100%;
        border-radius: 0;
    }
}
